<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/main.css">
	<link rel="icon" href="/images/icon.png" type="image/icon type">
	<title>First Impressions</title>
</head>
<body>
	<!-- should only be rendered when no user is logged in - otherwise render res.locals.user -->
	<div class="loginreg" id="loginreg">
		<a href="/login">Login</a>
		<a href="/register">Sign up</a>
		<p>{{user}}</p>
	</div>
	<img class="icon" src="/images/book.png" height="100" width="100">
	<div class="center">
	<h1>First Impressions</h1>
	<h2>Welcome to a project that lets strangers judge you by your cover for fun.</h2>
		{{{body}}}
		</div>
</body>
</html>
