{{error}}
<script>
		// run client side javascript to check form fields
</script>
<div class="centered">
<form method="post" action="/login">
	Email: <input type="text" name="email"></br>
  Password: <input type="text" name="password"></br>
	<input type="submit">
</form>
<a href="/register">Need to sign up?</a>
</div>
