{{error}}
<script>
		// run client side javascript to check form fields
</script>
<div class="centered">
<form method="post" action="/register">
  Email: <input type="text" name="email"></br>
  Password: <input type="text" name="password"></br>
  Reconfirm Password: <input type="text" name="password_conf"></br>
	<input type="submit">
</form>
<a href="/login">Already registered?</a>
</div>
