{{error}}
<head>
  <title> Login </title>
  <link rel="stylesheet" href="css/forms.css">
</head>
<div class="formContainer">
<div class="form">
<form method="post" action="/register">
  Email: <input type="text" name="email"></br>
  Password: <input type="text" name="password"></br>
  Reconfirm Password: <input type="text" name="password_conf"></br>
	<input type="submit">
</form>
<a href="/login">Already registered?</a>
</div>
