{{error}}
<script>
		// run client side javascript to check form fields
</script>
<div class="centered">
<form method="post" action="/register">
  <div class="title">
    <h1>sign up</h1>
  </div>
  <div class="field">
    <label>username:</label>
    <input type="text" name="username" />
    <br />
  </div>
  <div class="field">
    <label>password:</label>
    <input type="password" name="password" required />
  </div>
  <div class="field">
    <input class="button" type="submit" value="Submit" required />
  </div>
</form>

<a href="/login">Already registered?</a>
</div>
</div>
