body {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

* {
 font-size: 100%;
 font-family: Nunito;
}
h1 {
  font-size: 45px;
  font-style: bold;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-align: center;
}

.center {
  position: fixed; /* or absolute */
  left: 30%;
}

.icon {
  position: fixed;
}

.loginreg {
  display: inline-block;
  right: 1%;
  position: fixed;
  top: 1%;
}
